{% extends "base.html" %}
{% block content %}
  {% include 'menu.html' %}
   <div class="container">
     <div id="left_of_home"> 
      <div id="inline-container">
            <div id="inline-header">
                <div id="inline-headerLeft"><h2 id="inline-sampleTitle" contenteditable="false">Graduate</h2>
                    <h3 contenteditable="true">Subject</h3></div>
                <div id="inline-headerRight">
                    <div contenteditable="true"><p>Content</div>
                </div>
            </div>
          </div>
        </div>
     <div id="middle_of_home"> 
      <div id="inline-container">
        <div id="inline-header">
                <div id="inline-headerLeft"><h2 id="inline-sampleTitle" contenteditable="false">President</h2>
                    <h3 contenteditable="true">Subject</h3></div>
                <div id="inline-headerRight">
                    <div contenteditable="true"><p>Content</div>
                </div>
            </div>
          </div>
        </div>
     <div id="right_of_home"> 
      <div id="inline-container">
        <div id="inline-header">
                <div id="inline-headerLeft"><h2 id="inline-sampleTitle" contenteditable="false">Core member</h2>
                    <h3 contenteditable="true">Subject</h3></div>
                <div id="inline-headerRight">
                    <div contenteditable="true"><p>Content</div>
                </div>
            </div>
          </div>
        </div>



      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->



{% endblock %}
