    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Soongsil Electronic Exhibition</a>
          </div>


          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'aboutus' %}">About us</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="{% url 'linkboard:linkboardpage' 1 %}">Link board</a></li> 

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Boards<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% if boardlist %}
                    {% for board in boardlist %}
                    {# board page of <a> tag is linked to the first page of the target board #}
                      <li><a href="{% url 'boards:boardpage' board.id 1 %}">{{ board.boardname }}</a></li>
                    {% endfor %}  
                  {% endif %}
                </ul>
              </li>
              {% if user.is_admin %}
                <li><a href="/admin/">Admin</a></li> 
              {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
               <li><a href="{% url 'users:personalinfo' %}">Account</a></li>
               <li><a href="{% url 'users:logout' %}">Log out</a></li>
             {% else %}
               <li><a href="{% url 'users:login' %}">Log in</a></li>
               <li><a href="{% url 'users:signup' %}">Sign up</a></li>
             {% endif %}

            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    </div> <!-- /container -->

