{% extends "base.html" %}
{% block content %}
{% include "menu.html" %}
<h2>Link Post</h2>
  <form class="form-horizontal" role="form" method="POST">{% csrf_token %}
    <div class="form-group form-group-lg">
      <div class="col-sm-10">
        <input class="form-control" name="url" type="url" id="formGroupInputLarge" placeholder="Enter URL" maxlength="200" onkeydown="if (event.keyCode == 13) {     return false;}" required autofocus>
        <input class="form-control" name="description" type="text" id="formGroupInputLarge" placeholder="Write description" maxlength="255" onkeydown="if (event.keyCode == 13) { return false;}" required>
        <hr>     
        <input class="btn btn-primary btn-lg" name="post" type="submit" value="POST">
      </div>
    </div>
  </form>
<br><a href="{% url 'home' %}">Main</a>
{% endblock %}



