{% extends "base.html" %}
{% block content %}
  {% include 'menu.html' %}
  <div style="padding:0px 15px;">
    <h2>Edit password</h2>
  </div>
  <form method="POST">{% csrf_token %}
    <div class="col-xs-4">
      <input name="pwd" class="form-control" type="password" placeholder="Enter Present Password" maxlength="255" class="basic_input" required autofocus>
      <input name="new_pwd" class="form-control" type="password" placeholder="Enter New Password" maxlength="255" class="basic_input" required>
      <input name="confirm_new_pwd" class="form-control" type="password" placeholder="Confirm Your New Password" maxlength="255" class="basic_input" required>
      <br>
      <input class="btn btn-success" name="change_pwd_submit" type="submit" value="Change password">
    </div>
  </form>
{% endblock %}

