{% extends "base.html" %}
{% block content %}
  {% include 'menu.html' %}
  <div style="padding:0px 15px;">
    <h2>Edit personal info</h2>
  </div>
  <form method="POST">{% csrf_token %}
    <div class="col-xs-4">
      <input name="username" class="form-control" type="text" placeholder="Enter User Name" maxlength="30" value="{{user.username}}" autofocus>
      <input name="email" class="form-control" type="email" placeholder="Enter Email" maxlength="64" value="{{user.email}}">
      <input name="contact_number" class="form-control" type="text" placeholder="Enter Contact Number" maxlength="30" value="{{user.contact_number}}">
      <br>
      <input class="btn btn-success" name="change_personalinfo_submit" type="submit" value="Change personal info">
    </div>
  </form>
{% endblock %}

