{% extends "base.html" %}
{% block content %}
  {% include 'menu.html' %} 
  <!-- Custom styles for this template -->
    <div class="container">
      <form class="form-signin" role="form" method="POST">{% csrf_token %}
        <h2 class="form-signin-heading">Log in</h2>
          {% if next %}
            <form action="/login/?next={{next}}" method="POST">{% csrf_token %}
          {% else %}
            <form method="POST">{% csrf_token %}
              <label for="inputEmail" class="sr-only">User name or Email</label>
              <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Enter User name or Email" maxlength="64" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input name="pwd" type="password" id="inputPassword" class="form-control" placeholder="Enter Password" maxlength="255" required>
              <input class="btn btn-lg btn-primary btn-block" name="login_submit" type="submit" value="Log in"></input>
            </form>
          {% endif %}
      </form>
    </div> <!-- /container -->
{% endblock %}

