{% extends "base.html" %}
  {% block content %}
    <h2>Sign up</h2>
    <form method="POST">{% csrf_token %}
      <input name="username" type="text" placeholder="Enter User Name" required>
      <input name="email" type="text" placeholder="Enter Email" required>
      <input name="pwd" type="password" placeholder="Enter Password" required>
      <input name="confirm_pwd" type="password" placeholder="Confirm Your Password" required>
      <input name="signup_submit" type="submit" value="Sign up">
  {% endblock %}

