{% extends "base.html" %}
{% block content %}
  {% include 'menu.html' %}
  <!-- Custom styles for this template -->
    <div class="container">
      <form class="form-signin" role="form" method="POST">{% csrf_token %}
        <h2 class="form-signin-heading">Sign up</h2>
        <label for="inputEmail" class="sr-only">User name</label>
        <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Enter User name" maxlength="30" required autofocus>

        <label for="inputEmail" class="sr-only">Email</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Enter Email" maxlength="64" required>

        <label for="inputEmail" class="sr-only">Contact number</label>
        <input name="contact_number" type="text" id="inputEmail" class="form-control" placeholder="Enter Contact number (Optional)" maxlength="30" >

        <label for="inputPassword" class="sr-only">Password</label>
        <input name="pwd" type="password" id="inputPassword" class="form-control" placeholder="Enter Password" maxlength="255" required>

        <label for="inputPassword" class="sr-only">Password Confirmation</label>
        <input name="confirm_pwd" type="password" id="inputPassword" class="form-control" placeholder="Confirm Your Password" maxlength="255" required>

        <input class="btn btn-lg btn-primary btn-block" name="signup_submit" type="submit" value="Sign up"></input>
      </form>
    </div> <!-- /container -->
{% endblock %}

