{% extends "base.html" %}
{% block content %}
  {% include 'menu.html' %}
  {% load boards_custom_tags %}

    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'boards:write' board.id %}">Write<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'boards:boardpage' board.id 1 %}">Go back to board</a></li>

        <form action="" method="POST">{% csrf_token %}
          <li><input class="form-control" type="text" name="search_post" placeholder="Search Post"></li>
          <select class="form-control" name="select_post">
            <option selected="subname">subject</option>
            <option>content</option>
            <option>subject + content</option>
            <option>writer</option>
          </select>
          </form>

        {% if has_previous %}
          <li><a href="{% url 'boards:boardpage' board.id previous_page %}">Prev</a></li>
        {% endif %}
    
        {% if has_next %}
          <li><a href="{% url 'boards:boardpage' board.id nextpage %}">Next</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="container-fluid">
      <div class="row">
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <h1 class="page-header">{{ board.boardname }}
           {% if top50 and searchvalue %}
             {{ top50 }} : "{{searchvalue}}" 
           {% endif %}
         </h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="5%"></th>
                  <th width="65%">Subject</th>
                  <th width="10%">Writer</th>
                  <th width="20%">Date posted</th>
                </tr>
              </thead>
              <tbody>

                {% if posts %}
                 {% for post in posts %}
                   <tr>
                     <td width="5%">
                       {% if post.is_notice %}
                         <div type="button" class="btn btn-default btn-xs">Notice</div>
                       {% endif %}
                     </td>
                     <td width="65%"><a href="{% url 'boards:postpage' board.id post.id %}">{{ post.subject }}</a>
                       {% if post|num_of_comments_in_post %}
                         &nbsp;<font color="brown">{{ post|num_of_comments_in_post }}</font>
                       {% endif %}
                    </td>
                     <td width="10%">{{ post.writer.username }}</td>
                     <td width="20%">{{ post.date_posted }}</td>
                   </tr>
                 {% endfor %}  
                 {% endif %}
               </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

